
agm-map {
  height: 600px;
}

.mmsi-container {
  text-align: center;
  padding: 1.5rem;

  .mmsi-input, .days-input, .period-input {
    margin-left: 10px;
  }

  .days-label, .period-label {
    margin-left: 10px;
  }
}
