<h1>Daily vessel track</h1>

<form>
  <div class="mmsi-container form-group">
    <label for="mmsi" class="mmsi-label">MMSI</label>
    <input type="text" [value]="mmsi" id="mmsi" class="mmsi-input form-control" (keyup.enter)="newMmsi($event.target.value)" />

    <label for="days" class="days-label">Days</label>
    <input type="number"
           [min]="daysMin"
           [max]="daysMax"
           step="1"
           [value]="days"
           id="days"
           class="days-input form-control"
           (keyup.enter)="newDays($event.target.value)"
           [class.is-invalid]="daysNumberWrong" />

    <label for="period" class="period-label">Period</label>
    <select id="period" class="period-input form-control" (change)="newPeriod($event.target.value)">
      <ng-container *ngFor="let period of Periods">
        <option [value]="period">{{ period }}</option>
      </ng-container>
    </select>
  </div>
</form>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="5" [streetViewControl]="false">

  <ng-container *ngFor="let position of positionHistory; index as i, last as isLast;">
    <agm-marker [latitude]="position.LAT"
      [longitude]="position.LON"
      [iconUrl]="'/assets/images/ship.png'"
      [openInfoWindow]="true">
      <agm-info-window [latitude]="position.LAT" [longitude]="position.LON">
        <h3>Potision of {{ position.MMSI }} at {{ prettyDate(position.TIMESTAMP) }}</h3>
        <table class="table table-striped">
          <tr>
            <th>Latitude</th>
            <td>{{ position.LAT }}</td>
          </tr>
          <tr>
            <th>Longitude</th>
            <td>{{ position.LON }}</td>
          </tr>
          <tr>
            <th>Speed</th>
            <td>{{ position.SPEED / 10 }} knots</td>
          </tr>
        </table>
      </agm-info-window>
    </agm-marker>

    <agm-polyline>
        <agm-polyline-point *ngIf="!isLast" [latitude]="position.LAT" [longitude]="position.LON">
        </agm-polyline-point>
        <agm-polyline-point *ngIf="!isLast" [latitude]="positionHistory[i+1].LAT" [longitude]="positionHistory[i+1].LON">
        </agm-polyline-point>
      </agm-polyline>
  </ng-container>

</agm-map>
