/* You can add global styles to this file, and also import other style files */
@import '../node_modules/less/test/css/3rd-party/bootstrap4.css';

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}
